body{
	background-color: white;
	font-family: caslon,georgia,serif;
	text-align: center;
	margin: auto;
}
div{
	width: 80%;
	margin: 0 auto; 
	padding: 10px;
}
img {
	width:40%;
	padding: 10px;
}
header{
	text-align: center;
}
.header-navbar__logo__2l9RI{
    display: block;
    width: 16%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    margin-top:20px;
}
h1{
	margin-top:40px;
	font-family: caslon,georgia,serif;
	color: black;
	font-size: 80px;
}
h2{
	font-family: caslon,georgia,serif;
	color: black;
	font-size: 30px;
}
h3{
	margin-top:40px;
	font-family: caslon,georgia,serif;
	font-size: 25px;
	color: black;
}
h4{
	font-family: caslon,georgia,serif
	font-size: 18px;
	color:black;
}
h6{
	margin-top:20px;
	font-family:caslon,georgia,serif;
	font-size: 20px;
	color:black;
}
.byline {
	font-size:10px
}

h6.byline {
	font-color: red;
}

h6.timestamp {
	font-family: helvetica;
}
p{
	font-family: avenir light;
	color: black;
}
img{
	display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

div.header{
	font-size:20px;
	font-style:italic;

}
div.stories{
	font-color:red;
	border-style:solid;
	margin:auto;
	border-color:black;
}

ul{
	background-color: white;
	padding: 12px;
	margin-left: 200px;
	margin-right: 200px;
}
li{
	display:inline;
	font-size:20px;
	color: black;
	margin-left: 10px;
	margin-right:10px;
}
div.astro{
	display:inline;
	margin-top: 100px;
	border-style:solid;
	border-color:black;
}
a.nav-link:link
{
   color: red;
   text-decoration: none;
}
a.nav-link:visited
{
   color: red;
   text-decoration: none;
}
a.nav-link:hover
{
   color: red;
   text-decoration: none;
}
a.nav-link:active
{
   color: red;
   text-decoration: none;
}
a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration: underline;
  color:lightblue;
}

a:active {
  text-decoration: underline;
}

